@font-face {
    font-family: 'nebraska';
    src: url('nebraska.woff2') format('woff2'),
        url('nebraska.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

