.nav-bar {
    width: 100%;
    background-color: var(--clr-red);
    padding: 0.8rem;
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: "nebraska";
}

.nav-bar li:hover {
cursor: pointer;
}